In [1]:
from ipl_parser import IPLParser
from cricket_data_processor import CricketDataProcessor
from player_data import PlayerData

In [2]:
Input_Filepath = 'D:\\Datasets\\IPL_2024\\DC VS PBKS'
Output_FilePath = 'D:\\Datasets\\IPL_2024\\Data Files'
stadium = 'Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur'

parser = IPLParser(Input_Filepath, Output_FilePath,stadium,2)

In [3]:
data = parser.getMatchData()
processor = CricketDataProcessor(data)

mydata = processor.process_cricket_data()

In [4]:
mydata.head()

,match_number,innings,team,over,ball,Batter,Bowler,Runs,Outcome,comments,venue
0,2,1,Delhi Capitals,0,1,David Warner,Sam Curran,1,1 run,"no swing, gentle pace, dropped into the leg si...",Maharaja Yadavindra Singh International Cricke...
1,2,1,Delhi Capitals,0,2,Mitchell Marsh,Sam Curran,4,FOUR runs,"this ball swings, and swings too far down leg....",Maharaja Yadavindra Singh International Cricke...
2,2,1,Delhi Capitals,0,3,Mitchell Marsh,Sam Curran,4,FOUR runs,"down the leg side again, and Marsh says thank ...",Maharaja Yadavindra Singh International Cricke...
3,2,1,Delhi Capitals,0,4,Mitchell Marsh,Sam Curran,0,no run,"walks at him, drives nicely, straight of mid-o...",Maharaja Yadavindra Singh International Cricke...
4,2,1,Delhi Capitals,0,5,Mitchell Marsh,Sam Curran,0,no run,"walks at Curran, reaches the wide ball on the ...",Maharaja Yadavindra Singh International Cricke...

In [5]:
mydata[mydata['innings'] == 1][['Batter','Origin']]

             Batter    Origin
0      David Warner  Overseas
1    Mitchell Marsh  Overseas
2    Mitchell Marsh  Overseas
3    Mitchell Marsh  Overseas
4    Mitchell Marsh  Overseas
..              ...       ...
119   Abishek Porel    Indian
120   Abishek Porel    Indian
121   Abishek Porel    Indian
122   Abishek Porel    Indian
123   Abishek Porel    Indian

[124 rows x 2 columns]